.ModalGeo {
    width: 790px;
    height: 354px;
    border: none;
    background-color: #333333;
    border-radius: 20px;
    display: flex;    
    align-items: top;
    justify-content: center;   
}

h1 {
    font-family: 'Lato';
    font-size: 34px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;
}

button {    
   
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;   
    
}

.go-backGeo {  
  border: none;
  background-color: inherit;  
}

.close {
  color: white !important; 
  font-size: 30px;         
}


.OverlayGeo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 614px){
    .ModalGeo {
        width: 300px;
        height: 245px;
        border-radius: 10px;
    }

    h1 {
        font-size: 20px;
    }
    
    button {
        width: fit-content;
        height: 25px;
        font-size: 14px;
        margin-right: 5px;
    }

    .close {
        color: white !important; 
        font-size: 25px;         
      }
}